body, html {
    margin: 0px;
    padding: 0px;
}
hr {
    margin-bottom: 0px;
}
@font-face {
    font-family: UTMSignwriter;
    src: url(../Contents/Fonts/UTM\ A&S\ Signwriter.ttf);
}
@font-face{
    font-family: SVN-Nexa;
    src: url(../Contents/Fonts/SVN-Nexa\ Light_0.otf);
}
.navbar {
    font-family: SVN-Nexa;
}
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }
    .navbar-toggler {
        border: none;
    }
        .navbar-toggler span {
            display: block;
            background-color: #fff;
            height: 3px;
            width: 25px;
            margin-top: 4px;
            margin-bottom: 4px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            position: relative;
            left: 0;
            opacity: 1;
        }

            .navbar-toggler span:nth-child(1),
            .navbar-toggler span:nth-child(3) {
                -webkit-transition: transform .35s ease-in-out;
                -moz-transition: transform .35s ease-in-out;
                -o-transition: transform .35s ease-in-out;
                transition: transform .35s ease-in-out;
            }

            .navbar-toggler:not(.collapsed) span:nth-child(1) {
                position: relative;
                /* left: 12px; */
                top: 4px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
                opacity: 0.9;
            }

            .navbar-toggler:not(.collapsed) span:nth-child(2) {
                /* height: 12px; */
                visibility: hidden;
                background-color: transparent;
            }

            .navbar-toggler:not(.collapsed) span:nth-child(3) {
                position: relative;
                /* left: 12px; */
                top: -10px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
                opacity: 0.9;
            }
            .navbar .nav-item .nav-link {
                color: #fff;
            }
.main-section {
    background-image: url('../Contents/Images/main-picture.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
}
    .main-section .bg-grey {
        background-color: black;
        opacity: 0.6;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }
    .main-section .welcome-title {
        padding: 178px 0px;
    }
            .main-section .welcome-title .hello-title {
                font-family: SVN-Nexa;
                font-size: 30px;
                margin-bottom: -10px;
            }
            .main-section .welcome-title .name-title{
                font-family: UTMSignwriter;
                font-size: 85px;
            }
            .main-section .welcome-title .job-title {
                font-family: SVN-Nexa;
                font-size: 35px;
                margin-top: -10px;
            }
        .main-section .welcome-title .social-icon {
            margin: 10px 0px;
        }
            .main-section .welcome-title .social-icon a {
                color: #fff;
                padding: 0px 20px;
                font-size: 25px;
                text-decoration: none;
            }
                .main-section .welcome-title .social-icon a:hover {
                    color: rgb(247, 206, 26);
                    transition: all 0.5s;
                }
        .main-section .welcome-title .start-button {
            margin-top: 20px;
        }
            .main-section .welcome-title .start-button .btn {
                border-radius: 0px;              
                color: #fff;
                border-color: #fff;
                text-transform: uppercase;
                padding: 8px 25px;
            }
            .main-section .welcome-title .start-button .btn:hover {
                color: #000;
            }
#information-section {
    padding: 20px 0px;
}
    #information-section .info-content {
        padding: 40px 0px;
    }
    #information-section .avatar {
        box-shadow: rgba(0, 0, 0, 0.205) 0px 0px 30px;
        padding: 5px;
        border: 1px solid #fff;
    }
        #information-section .avatar .card-img-top {
            border-radius: 0px;
        }
    #information-section .open-name-title {
        font-weight: 700;
        font-size: 30px;
    }
    #information-section .detail-cv {
        margin-bottom: 15px;
    }
    #information-section .skill-section {

    }
        #information-section .skill-section .skill-title {
            text-transform: uppercase;
            font-weight: 800;
        }
        #information-section .skill-section .skill-item {
            padding-bottom: 20px;
        }
            #information-section .skill-section .label {
                width: 250px;          
            }
                #information-section .skill-section .label .icon {
                    width: 30px;
                }
            #information-section .skill-section .progress {
                height: 20px;
            }
                #information-section .skill-section .progress .progress-bar {
                    background-color: #00b4d9;
                }
#education-section {
    background-color: #ffffff;
    padding: 10px 0;
}
/* #education-section .container {
    background-color: #fff; 
    box-shadow: rgba(0, 0, 0, 0.205) 0px 0px 30px;
} */
    #education-section .education, #education-section .experience {
        padding: 45px 0px;
    }
    
footer {
    background-color: #000;
    color: #fff;
    padding-top: 12px;
    font-size: 12px;
}
@-webkit-keyframes bounceInRight { 
    0% { 
        opacity: 0;        
        -webkit-transform: translateX(400px); 
    } 
    60% {       
        -webkit-transform: translateX(-30px); 
    } 
    80% { 
        -webkit-transform: translateX(10px); 
    } 
    100% {
        opacity: 1;  
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(400px); 
    } 
    60% { 
        transform: translateX(-30px); 
    } 
    80% { 
        transform: translateX(10px); 
    } 
    100% {
    opacity: 1;
        transform: translateX(0); 
    } 
} 
@-webkit-keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRight{ 
    /* opacity: 0;  */
    /* -webkit-transform: translateX(400px); 
    transform: translateX(400px); */
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
    animation-duration: 1s;
}

